# Logs
.gemini
logs
.cache
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.turbo
web-types.json
web-tags.json
playground/src/assets/token-meta.json
playground/src/assets/token.json
playground/public/llms.txt
playground/public/llms-full.txt
playground/public/search.cn.json
playground/public/search.en.json
